# Association Rule Learning

# Apriori Algorithm

***Apriori algorithm refers to the algorithm which is used to calculate the association rules between objects. It means how two or more objects are related to one another***

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\mdaza\AppData\Local\Temp\ipykernel_20128\781345070.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('Groceries_dataset.csv')
df

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [4]:
df.shape

(38765, 3)

In [5]:
import collections

d = collections.Counter(df['itemDescription'])

In [6]:
data = {'Item Name' : d.keys() , 'Values' : d.values()}

data

{'Item Name': dict_keys(['tropical fruit', 'whole milk', 'pip fruit', 'other vegetables', 'rolls/buns', 'pot plants', 'citrus fruit', 'beef', 'frankfurter', 'chicken', 'butter', 'fruit/vegetable juice', 'packaged fruit/vegetables', 'chocolate', 'specialty bar', 'butter milk', 'bottled water', 'yogurt', 'sausage', 'brown bread', 'hamburger meat', 'root vegetables', 'pork', 'pastry', 'canned beer', 'berries', 'coffee', 'misc. beverages', 'ham', 'turkey', 'curd cheese', 'red/blush wine', 'frozen potato products', 'flour', 'sugar', 'frozen meals', 'herbs', 'soda', 'detergent', 'grapes', 'processed cheese', 'fish', 'sparkling wine', 'newspapers', 'curd', 'pasta', 'popcorn', 'finished products', 'beverages', 'bottled beer', 'dessert', 'dog food', 'specialty chocolate', 'condensed milk', 'cleaner', 'white wine', 'meat', 'ice cream', 'hard cheese', 'cream cheese ', 'liquor', 'pickled vegetables', 'liquor (appetizer)', 'UHT-milk', 'candy', 'onions', 'hair spray', 'photo/film', 'domestic eggs', 'margarine', 'shopping bags', 'salt', 'oil', 'whipped/sour cream', 'frozen vegetables', 'sliced cheese', 'dish cleaner', 'baking powder', 'specialty cheese', 'salty snack', 'Instant food products', 'pet care', 'white bread', 'female sanitary products', 'cling film/bags', 'soap', 'frozen chicken', 'house keeping products', 'spread cheese', 'decalcifier', 'frozen dessert', 'vinegar', 'nuts/prunes', 'potato products', 'frozen fish', 'hygiene articles', 'artif. sweetener', 'light bulbs', 'canned vegetables', 'chewing gum', 'canned fish', 'cookware', 'semi-finished bread', 'cat food', 'bathroom cleaner', 'prosecco', 'liver loaf', 'zwieback', 'canned fruit', 'frozen fruits', 'brandy', 'baby cosmetics', 'spices', 'napkins', 'waffles', 'sauces', 'rum', 'chocolate marshmallow', 'long life bakery product', 'bags', 'sweet spreads', 'soups', 'mustard', 'specialty fat', 'instant coffee', 'snack products', 'organic sausage', 'soft cheese', 'mayonnaise', 'dental care', 'roll products ', 'kitchen towels', 'flower soil/fertilizer', 'cereals', 'meat spreads', 'dishes', 'male cosmetics', 'candles', 'whisky', 'tidbits', 'cooking chocolate', 'seasonal products', 'liqueur', 'abrasive cleaner', 'syrup', 'ketchup', 'cream', 'skin care', 'rubbing alcohol', 'nut snack', 'cocoa drinks', 'softener', 'organic products', 'cake bar', 'honey', 'jam', 'kitchen utensil', 'flower (seeds)', 'rice', 'tea', 'salad dressing', 'specialty vegetables', 'pudding powder', 'ready soups', 'make up remover', 'toilet cleaner', 'preservation products']),
 'Values': dict_values([1032, 2502, 744, 1898, 1716, 118, 812, 516, 580, 422, 534, 518, 128, 357, 210, 263, 933, 1334, 924, 571, 327, 1071, 566, 785, 717, 327, 476, 238, 256, 80, 46, 157, 72, 146, 265, 252, 159, 1514, 130, 220, 152, 29, 46, 596, 514, 121, 48, 64, 251, 687, 356, 67, 240, 98, 31, 176, 254, 227, 220, 358, 103, 134, 67, 323, 219, 305, 9, 79, 566, 491, 731, 89, 225, 662, 425, 212, 73, 122, 72, 283, 60, 85, 362, 40, 74, 20, 5, 45, 100, 9, 92, 51, 33, 23, 102, 208, 29, 29, 82, 181, 116, 17, 142, 177, 17, 19, 50, 60, 21, 11, 38, 3, 40, 335, 280, 44, 32, 60, 269, 4, 69, 48, 92, 29, 61, 27, 22, 152, 75, 33, 82, 30, 16, 42, 35, 135, 37, 66, 8, 22, 15, 106, 9, 22, 21, 32, 12, 20, 5, 22, 16, 41, 10, 93, 13, 34, 1, 70, 49, 27, 6, 11, 17, 15, 5, 5, 1])}

In [12]:
item_data = pd.DataFrame(data).sort_values(by = 'Values', ascending = False)

C.head(5)

           Item Name  Values
1         whole milk    2502
3   other vegetables    1898
4         rolls/buns    1716
37              soda    1514
17            yogurt    1334

In [20]:
from mlxtend.preprocessing.transactionencoder import TransactionEncoder

tr = TransactionEncoder()

tr.fit(item_data['Item Name'])

dt = pd.DataFrame(tr.transform(item_data['Item Name']))

In [21]:
from mlxtend.frequent_patterns import apriori

apriori(dt , min_support = 0.2, use_colnames = True , max_len = 3)

      support      itemsets
0    0.592814           (0)
1    0.622754          (10)
2    0.233533          (11)
3    0.485030          (12)
4    0.335329          (13)
..        ...           ...
141  0.233533  (27, 14, 23)
142  0.209581  (24, 27, 14)
143  0.287425  (27, 28, 14)
144  0.233533  (27, 29, 14)
145  0.209581  (28, 29, 14)

[146 rows x 2 columns]